@import "generales";
@import "grid";

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    font-weight: bolder;
    text-align:center;
    line-height: 60px;
    letter-spacing: 10px;
    word-spacing: 15px;
    color: white;
    background-color:darkblue;
}

.subtitulo {   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration:double underline;
    font-size: large;
    text-align:left;
    line-height: 60px;
    letter-spacing: 2px;
    margin-left: 10px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.texto {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    font-size: medium;
    line-height: 20px;
    margin: 10px 50px 10px 40px;
    width: 100%; 
}

.tarifas{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 200px;
}

@media screen and (max-width: 760px) {

    .titulo{
        font-size: small;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .galeriaHistoria{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .pieDePagina{
        font-size: x-small;
    }
}