* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    margin-top: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: darkslategrey;
}

a:hover{
    color:black;
    font-size: larger;
}

nav ul{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
}

.galeriaInicio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 1%;
    justify-content: center;
}

.galeriaHistoria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 1%;
    justify-content: center;
}

.gridFoto{
    overflow: hidden;
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.gridFoto img{
    width: 100%;
    object-fit: cover;
}

.lago{
    grid-column: 1/3;
    grid-row: 1/3;
}

.bariloche{
    grid-column: 1/3;
    grid-row: 3/4;
}

.nieve{
    grid-column: 3/5;
    grid-row: 1/2;
}

.campanario{
    grid-column: 3/5;
    grid-row: 2/4;
}

.video{
    grid-column: 1/3;
    grid-row: 1/3;
}

.historia{
    grid-column: 3/5;
    grid-row: 1/3;
}

.parrafo{
    grid-column: 1/5;
    grid-row: 3/4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    font-size: medium;
    line-height: 20px;
    text-align: justify;
    margin-top: 20px;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    text-align:center;
    line-height: 60px;
    letter-spacing: 10px;
    word-spacing: 15px;
    color: white;
    background-color:darkblue;
}

.subtitulo {   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration:double underline;
    font-size: large;
    text-align:left;
    line-height: 60px;
    letter-spacing: 2px;
    margin-left: 10px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.texto {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    font-size: medium;
    line-height: 20px;
    margin: 10px 50px 10px 40px;
    width: 100%; 
}

.pieDePagina {
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: medium;
    align-items: center;
    background-color:darkblue;
    width: auto;
}

.iconos{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
}

.tarifas{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 200px;
}

@media screen and (max-width: 760px) {

    .titulo{
        font-size: small;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .galeriaHistoria{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .pieDePagina{
        font-size: x-small;
    }
}


